<body bgcolor="#E6E6FA">
{% extends "layout.html" %}

{% block left %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/word">{{title2}}</a></li>
        <li><a href="/barh">{{title3}}</a></li>
        <li><a href="/pie">{{title4}}</a></li>
        <li><a href="/radius1">{{title5}}</a></li>
        <li><a href="/radius2">{{title6}}</a></li>
        <li><a href="/radius3">{{title7}}</a></li>
        <li><a href="/radius4">{{title8}}</a></li>
        <li><a href="/big_screen">高校评论舆情可视化</a></li>
    </ul>
</div>
{% endblock %}

{% block right %}

<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/romantic.js"></script>
<script type="text/javascript" src="../static/js/echarts-wordcloud.min.js"></script>
<script type="text/javascript" src="../static/js/3dwordcloud.js"></script>
<!--右边展示-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{title2}}</h1>

    <div class="row placeholders">
        <!--展示区-->
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
        <div class="chart-container" style="height:500px;" id="main">

        </div>

    </div>
</div>
{% endblock %}

{% block echarts_js %}

<script>

    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var keywords = {{form.echart2.data|safe}};
    var option;
    var option = {
        series: [{
            type: 'wordCloud',
            //maskImage: maskImage,
            sizeRange: [15, 80],
            rotationRange: [0, 0],
            rotationStep: 45,
            gridSize: 8,
            shape: 'circle',
            width: '100%',
            height: '100%',
            textStyle: {
                normal: {
                    color: function () {
                        return 'rgb(' + [
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160)
                        ].join(',') + ')';
                    },
                    fontFamily: 'sans-serif',
                    fontWeight: 'normal'
                },
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            data: keywords
        }]
    };

    option && myChart.setOption(option);

</script>
{% endblock %}
</body>